.noteInput{
    padding-top: 10px;
}

.content {
    width: 700px;
    height: 700px;
    background-color: orange;
    margin: 0 auto;
    text-align: center;
}

.add {
   text-align: center;
}

.decoration {
    text-decoration: line-through;
}

.nondecoration {
    text-decoration: none;
}

